In [1]:
import pandas as pd

file_name = "Panchami Balancesheet.xlsx"
df = pd.read_excel(file_name, engine='openpyxl')

def find_text_errors(df):
    errors = {}
    for column in df.columns:
        numeric_col = pd.to_numeric(df[column], errors='coerce')
        error_rows = df[numeric_col.isna() & df[column].notna()]
        if not error_rows.empty:
            errors[column] = error_rows
    return errors

errors_found = find_text_errors(df)

if errors_found:
    print(" Text Errors Found in Excel:")
    for col, rows in errors_found.items():
        print(f"\nColumn: {col}")
        print(rows)
else:
    print("No text errors found in numeric columns!")

 Text Errors Found in Excel:

Column: ledgerHead
                                 ledgerHead       Amount  Dr Cr  parentId  \
0                         Cooperative Bank     150664.00      1       131
1                 Krishi Bikash Bank  BIMA       6000.00      1       128
2               KRISHI BIKASH BANK CURRENT     262208.00      1       128
3        KRISH BIKASH  BANK  PRAJOLAN KOSH      20182.00      1       128
4                          Nepal Bank Ltd.       1452.00      1         8
5                       Bahuudhesiya Sangh     113718.00      1       131
6                         AGRICULTURE LOAN     408800.00      1        28
7                    BAIDESHIK ROJGAR LOAN     456000.00      1        28
8                         FURNITURE ASSETS     164305.00      1        79
9                        LAND AND BUILDING    3040372.00      1        38
10                      OTHER FIXED ASSETS     391191.00      1        38
11         Dharauti Krishi Samagri Company      50000.00      1        12
12           Dharauti Salt Trading Company      50000.00      1        12
13    Makwanpur Jilla Dugdha Udpadak Sangh    3019818.00      1        12
14          Krishak Chokar Dana Uthna Baki     274924.00      1        12
15                Tractor Bhada Uthna Baki      51544.00      1        12
16           Mill ko Karobar ko Uthna Baki     168412.00      1        12
17                          Agrim Bhuktani        316.00      1        12
18   Purba Byabasthapak Raj Kumar Parajuli   11223143.00      1        12
19          NATIONAL CO-OPE BANK SHARE INV     145000.00      1        36
20          District Fed. Share Investment       1000.00      1        36
21             Jilla Dugdha Sahakari Sangh     210000.00      1        36
22                Bahuudhesiya Jilla Sangh       5000.00      1        36
23                            Share Holder    1004500.00      0        14
24                           MONTHLY SAVING   3741815.53      0        15
25                               BAL BACHAT   1027403.57      0        15
26                     FIXED DEPOSIT 3 YEAR   3450305.90      0        15
27                     GENERAL RESERVE FUND   2216870.00      0        20
28                         SANRACHHIT PUJI     101149.00      0        84
29                        Staff Bonus Fund     855126.00      0        84
30                         GHATAPURTI FUND     864800.00      0        84
31                        other legal Fund     436609.00      0        84
32                         FARMER DONATION        854.00      0        40
33                JHILLA COOPERATIVE SANG      176225.00      0        40
34                       AUDIT FEE PAYABLES     29601.00      0        40
35                         FINE FEE CO LTD     197000.00      0        40
36                 RADHA KRISHNA KHADYANNA    2282890.00      0        40
37                       ASTRIAN SUPPLIERS     859595.00      0        40
38                     FARMER MILK PAYMENT    2844999.00      0        40
39                          TDS ON INTEREST     24612.00      0        16
40             TDS ON SOCIAL SECURITY FUND       2007.00      0        16
41                               INCOME TAX     95199.00      0        16
42                           TDS ON AUDIT         399.00      0        16
43                            LOGISTIC TAX       1085.00      0        16
44                               OTHER TAX       1004.00      0        16

    AcoledgerheadId  Particulars  IsTobeCreated
0               NaN       Assets              1
1               NaN       Assets              1
2               NaN       Assets              1
3               NaN       Assets              1
4               NaN       Assets              1
5               NaN       Assets              1
6               NaN       Assets              1
7               NaN       Assets              1
8               NaN       Assets              1
9              82.0       Assets              0
10              NaN       Assets              1
11              NaN       Assets              1
12              NaN       Assets              1
13              NaN       Assets              1
14              NaN       Assets              1
15              NaN       Assets              1
16              NaN       Assets              1
17              NaN       Assets              1
18              NaN       Assets              1
19              NaN       Assets              1
20              NaN       Assets              1
21              NaN       Assets              1
22              NaN       Assets              1
23              NaN  Liabilities              1
24              NaN  Liabilities              1
25              NaN  Liabilities              1
26              NaN  Liabilities              1
27             83.0  Liabilities              0
28              NaN  Liabilities              1
29              NaN  Liabilities              1
30              NaN  Liabilities              1
31              NaN  Liabilities              1
32              NaN  Liabilities              1
33              NaN  Liabilities              1
34             93.0  Liabilities              0
35              NaN  Liabilities              1
36              NaN  Liabilities              1
37              NaN  Liabilities              1
38              NaN  Liabilities              1
39             17.0  Liabilities              0
40              NaN  Liabilities              1
41             19.0  Liabilities              0
42              NaN  Liabilities              1
43              NaN  Liabilities              1
44              NaN  Liabilities              1

Column: Particulars
                                 ledgerHead       Amount  Dr Cr  parentId  \
0                         Cooperative Bank     150664.00      1       131
1                 Krishi Bikash Bank  BIMA       6000.00      1       128
2               KRISHI BIKASH BANK CURRENT     262208.00      1       128
3        KRISH BIKASH  BANK  PRAJOLAN KOSH      20182.00      1       128
4                          Nepal Bank Ltd.       1452.00      1         8
5                       Bahuudhesiya Sangh     113718.00      1       131
6                         AGRICULTURE LOAN     408800.00      1        28
7                    BAIDESHIK ROJGAR LOAN     456000.00      1        28
8                         FURNITURE ASSETS     164305.00      1        79
9                        LAND AND BUILDING    3040372.00      1        38
10                      OTHER FIXED ASSETS     391191.00      1        38
11         Dharauti Krishi Samagri Company      50000.00      1        12
12           Dharauti Salt Trading Company      50000.00      1        12
13    Makwanpur Jilla Dugdha Udpadak Sangh    3019818.00      1        12
14          Krishak Chokar Dana Uthna Baki     274924.00      1        12
15                Tractor Bhada Uthna Baki      51544.00      1        12
16           Mill ko Karobar ko Uthna Baki     168412.00      1        12
17                          Agrim Bhuktani        316.00      1        12
18   Purba Byabasthapak Raj Kumar Parajuli   11223143.00      1        12
19          NATIONAL CO-OPE BANK SHARE INV     145000.00      1        36
20          District Fed. Share Investment       1000.00      1        36
21             Jilla Dugdha Sahakari Sangh     210000.00      1        36
22                Bahuudhesiya Jilla Sangh       5000.00      1        36
23                            Share Holder    1004500.00      0        14
24                           MONTHLY SAVING   3741815.53      0        15
25                               BAL BACHAT   1027403.57      0        15
26                     FIXED DEPOSIT 3 YEAR   3450305.90      0        15
27                     GENERAL RESERVE FUND   2216870.00      0        20
28                         SANRACHHIT PUJI     101149.00      0        84
29                        Staff Bonus Fund     855126.00      0        84
30                         GHATAPURTI FUND     864800.00      0        84
31                        other legal Fund     436609.00      0        84
32                         FARMER DONATION        854.00      0        40
33                JHILLA COOPERATIVE SANG      176225.00      0        40
34                       AUDIT FEE PAYABLES     29601.00      0        40
35                         FINE FEE CO LTD     197000.00      0        40
36                 RADHA KRISHNA KHADYANNA    2282890.00      0        40
37                       ASTRIAN SUPPLIERS     859595.00      0        40
38                     FARMER MILK PAYMENT    2844999.00      0        40
39                          TDS ON INTEREST     24612.00      0        16
40             TDS ON SOCIAL SECURITY FUND       2007.00      0        16
41                               INCOME TAX     95199.00      0        16
42                           TDS ON AUDIT         399.00      0        16
43                            LOGISTIC TAX       1085.00      0        16
44                               OTHER TAX       1004.00      0        16

    AcoledgerheadId  Particulars  IsTobeCreated
0               NaN       Assets              1
1               NaN       Assets              1
2               NaN       Assets              1
3               NaN       Assets              1
4               NaN       Assets              1
5               NaN       Assets              1
6               NaN       Assets              1
7               NaN       Assets              1
8               NaN       Assets              1
9              82.0       Assets              0
10              NaN       Assets              1
11              NaN       Assets              1
12              NaN       Assets              1
13              NaN       Assets              1
14              NaN       Assets              1
15              NaN       Assets              1
16              NaN       Assets              1
17              NaN       Assets              1
18              NaN       Assets              1
19              NaN       Assets              1
20              NaN       Assets              1
21              NaN       Assets              1
22              NaN       Assets              1
23              NaN  Liabilities              1
24              NaN  Liabilities              1
25              NaN  Liabilities              1
26              NaN  Liabilities              1
27             83.0  Liabilities              0
28              NaN  Liabilities              1
29              NaN  Liabilities              1
30              NaN  Liabilities              1
31              NaN  Liabilities              1
32              NaN  Liabilities              1
33              NaN  Liabilities              1
34             93.0  Liabilities              0
35              NaN  Liabilities              1
36              NaN  Liabilities              1
37              NaN  Liabilities              1
38              NaN  Liabilities              1
39             17.0  Liabilities              0
40              NaN  Liabilities              1
41             19.0  Liabilities              0
42              NaN  Liabilities              1
43              NaN  Liabilities              1
44              NaN  Liabilities              1

In [ ]:
import pandas as pd

file_name = "Panchami Balancesheet.xlsx"  
df = pd.read_excel(file_name, engine='openpyxl')

df.columns = df.columns.str.strip()

print("Columns in Excel:", df.columns.tolist())

duplicate_rows = df[df.duplicated()]
if not duplicate_rows.empty:
    print("Duplicate rows found:")
    print(duplicate_rows)
else:
    print("No duplicate rows found.")

column_name = 'ledgerHead'  
if column_name in df.columns:
    duplicate_in_column = df[df[column_name].duplicated()]
    if not duplicate_in_column.empty:
        print(f"\nDuplicates in column '{column_name}':")
        print(duplicate_in_column[[column_name]])
    else:
        print(f"No duplicates found in column '{column_name}'.")
else:
    print(f"Column '{column_name}' not found in the Excel file.")

Columns in Excel: ['ledgerHead', 'Amount', 'Dr Cr', 'parentId', 'AcoledgerheadId', 'Particulars', 'IsTobeCreated']
No duplicate rows found.
No duplicates found in column 'ledgerHead'.